doctype html
html
	head
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='css/login.css')
		title LogIn

	body
		br
		brs
		div.wrapper.row.container-fluid
			form.form-signup.col-md-2.col-md-offset-5(action='/login', method='post')
				h2.form-signup-heading Please login
				input.form-control(type='text', name='username', placeholder='Username', required='', autofocus='')
				input.form-control(type='password', name='password', placeholder='Password', required='')
				br
				button.btn.btn-md.btn-primary.btn-block(type='submit') Log In &nbsp
					i.fa.fa-sign-in